<h1>Mahdi's InfoVis Tool</h1>


<hr>
<h3>Upload your ConvNet here:</h3>
<form id="regForm" method="post" enctype="multipart/form-data"  action="/">

	<div>
    		<label>Data File(.json): </label>
    		<input type="file" name="description_file">
  	</div>

	<div>
        	<input type="submit" value="Upload">
	</div>

</form>


<form id="downloadForm2" method="get" enctype="multipart/form-data"  action="/data.json">

    <div>
            <input type="submit" value="view data.json">
    </div>

</form>


<hr>
<h3>Or jump to lunching the tool:</h3>
<form id="downloadForm2" method="get" enctype="multipart/form-data"  action="/tool">
    <div>
            <input type="submit" value="TOOL">
    </div>
</form>




