<h2>Create An Account</h2>
<form id="regForm" method="post" enctype="multipart/form-data"  action="/">
	<div>
        	<label>First Name: </label>
        	<input type="text" name="first_name" value="Hooman">
	</div>

	<div>
    		<label>Job Description File: </label>
    		<input type="file" name="description_file">
  	</div>

	<div>
        	<input type="submit" value="Upload">
	</div>

</form>


<form id="downloadForm2" method="get" enctype="multipart/form-data"  action="/download">

    <div>
            <input type="submit" value="download">
    </div>

</form>

<form id="downloadForm2" method="get" enctype="multipart/form-data"  action="/data.json">

    <div>
            <input type="submit" value="data.json">
    </div>

</form>


<form id="downloadForm2" method="post" action="/tool">

    <div>
            <label>File Name: </label>
            <input type="text" name="data_file_name" value="data.json">
    </div>


    <div>
            <input type="submit" value="LUNCH">
    </div>

</form>


</form>