<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<meta name="description" content="">
		<meta name="author" content="">

		<title>ConvLens</title>

		<!-- Bootstrap core CSS -->
		<link href="stylesheets/bootstrap.min.css" rel="stylesheet">

		<!-- Custom styles for this template -->
		<link href="stylesheets/cover.css" rel="stylesheet">
 	</head>


	<body>

		<div class="site-wrapper">
			<div class="site-wrapper-inner">
				<div class="cover-container">
					<div class="inner cover">	

						
						<nav>
							<ul class="nav masthead-nav">
								
								<li class="active"><a href="/">Home</a></li>
								<li><a href="/documentation">Documentation</a></li>
								<li><a href="/contact">Contact</a></li>

							</ul>
						</nav>


						<br>
						<h1>ConvLens:</h1>
						<h1>Visualizing Convolution Neural Networks</h1>
						<h3></h3>
						<br>
						<hr>
						

						<h3>Previously Uploaded ConvNets:</h3>
						
						{{#each uploadedFiles}}
							<li>
      							<a href="/tool/data/{{name}}"><strong>{{name}}</strong></a>
    						</li>
						{{/each}}
						

						

						<h3>Upload your own ConvNet here:</h3>
						
						<form id="regForm" method="post" enctype="multipart/form-data"  action="/">
							<input type="file" name="description_file">
							<br>
							<input type="submit" value="Upload" class="btn btn-lg btn-default">
						</form>
						


						<p><br></p>
						<hr>



						<h3>Or jump to launching the tool:</h3>
						<br>
						<form id="downloadForm2" method="post" action="/tool">
							
							<label>ConvNet File Name: </label>
							<font color='black'><input type="text" name="data_file_name" value="data.json"></font>
							<p><br></p>

							<label>Output File Name: </label>
							<font color='black'><input type="text" name="output_file_name" value="prob.json"></font>
							<p><br></p>
							
							<label>Link To BackPrp Images: </label>
							<font color='black'><input type="text" name="back_link" value="http://35.163.48.45:8888/laskaback/"></font>
							<p><br></p>
							
							<label>Link To Activation Images: </label>
							<font color='black'><input type="text" name="act_link" value="http://35.163.48.45:8888/laskaactivations/"></font>
							<p><br></p>

							 <input type="submit" value="LAUNCH" class="btn btn-lg btn-default">

						</form>
						


						<p><br></p>
						<br>
						<hr>


						<nav>
							<ul class="nav masthead-nav">
								<li><font color='#A4A4A4'>&copy; Copyright Mahdi Ghodsi. 2017 All Rights Reserved</font></li>
							</ul>
						</nav>
						
					  	
					</div>

				</div>

			</div>

		</div>




		<!-- Bootstrap core JavaScript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
		<script src="javascripts/bootstrap.min.js"></script>

	</body>
</html>
