<h2>Create An Account</h2>
<form id="regForm" method="post" enctype="multipart/form-data"  action="/">
	<div>
        	<label>First Name: </label>
        	<input type="text" name="first_name" value="Hooman">
	</div>

	<div>
    		<label>Job Description File: </label>
    		<input type="file" name="description_file">
  	</div>

	<div>
        	<input type="submit" value="Upload">
	</div>

</form>


<form id="downloadForm2" method="get" enctype="multipart/form-data"  action="/download">

    <div>
            <input type="submit" value="download">
    </div>

</form>

<form id="downloadForm2" method="get" enctype="multipart/form-data"  action="/data.json">

    <div>
            <input type="submit" value="data.json">
    </div>

</form>


<form id="downloadForm2" method="get" enctype="multipart/form-data"  action="/tool">

    <div>
            <input type="submit" value="tool">
    </div>

</form>

<form id="downloadForm2" method="get" enctype="multipart/form-data"  action="/display">

    <div>
            <input type="submit" value="Display in browser">
    </div>

</form>


<form id="downloadForm" method="get" enctype="multipart/form-data"  action="/dlMethod1">

    <div>
            <input type="submit" value="dlMethod1">
    </div>

</form>


<form id="downloadForm1" method="get" enctype="multipart/form-data"  action="/dlMethod2">

    <div>
            <input type="submit" value="dlMethod2">
    </div>

</form>