<h1>Lunch The Tool</h1>

<form id="downloadForm2" method="post" action="/tool">

    <div>
            <label>Json File Name: </label>
            <input type="text" name="data_file_name" value="data.json">
    </div>

    <div>
            <label>Link To BackPrp Images: </label>
            <input type="text" name="back_link" value="Link To Back Method Images">
    </div>

    <div>
            <label>Link To Activation Images: </label>
            <input type="text" name="act_link" value="Link To Activation Method Images">
    </div>


    <div>
            <input type="submit" value="LUNCH">
    </div>

</form>


</form>